Package: cups-filters-core-drivers
Source: cups-filters
Version: 1.28.11-1
Architecture: amd64
Maintainer: Debian Printing Team <debian-printing@lists.debian.org>
Installed-Size: 569
Depends: bc, cups-ipp-utils, poppler-utils, libc6 (>= 2.34), libcups2 (>= 2.3~b6), libcupsfilters1 (>= 1.28.0), libgcc-s1 (>= 3.3.1), liblcms2-2 (>= 2.2+git20110628), libpoppler-cpp0v5 (>= 0.46.0), libqpdf28 (>> 10.3~), libstdc++6 (>= 11), zlib1g (>= 1:1.1.4)
Breaks: cups-filters (<< 1.13.0)
Replaces: cups-filters (<< 1.13.0)
Section: net
Priority: optional
Homepage: http://www.openprinting.org/
Description: OpenPrinting CUPS Filters - Driverless printing
 This package provides additional CUPS filters which are not provided
 by the CUPS project itself. This includes filters for a PDF based
 printing workflow.
 .
 This package contains only the filters needed for driverless printing of
 PDF input files on IPP printers with known, common languages (PDF,
 PostScript, PWG Raster, Apple Raster, PCL).
